# Copier ce fichier vers .env et remplacer par vos valeurs

# URI de connexion MongoDB Atlas
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net

# Nom de la base de données
MONGODB_DATABASE=sample_restaurants

# Port du serveur API
PORT=3000
